//- Copyright (c) 2017 Chandan B N. All rights reserved.

//- Extends default document editor for CVSS

extends ../../views/edit
block banner 
    header.ban.pad.ht4.wht.shd
        #cvssSummary.left.flx
            include cvss.svg
            #finalScore.CVSS 
            #finalSeverity.CVSS
            #finalUrgency.CVSS

block prepend content
    h2.indent CVSS 4.0 Pocket Calc

block editorLabel
    | Calculator

block sourceLabel
    | JSON

block append scripts
    script
        include static/cvss40.js
        | window.CVSS40 = CVSS40;

block prepend loadEditor
    script 
        include preload.js

block append loadEditor
    script 
        include postload.js