body{
 /*--hig:#f6f6f7;*/
 --hig: #e5ebec;
 --bck:#fafafc;
}   

.rdg .form-control:first-child input[type="radio"]:checked+label {
  background-color: rgb(162, 213, 114);
}

.rdg .form-control input[type="radio"]:checked+label {
  background-color: rgb(250, 230, 120);
}

.rdg .form-control:nth-child(3) input[type="radio"]:checked+label {
  background-color: rgb(240, 170, 83);
}

.rdg .form-control:nth-child(4) input[type="radio"]:checked+label {
  background-color: rgb(240, 130, 120);
}

 .rdg .form-control:last-child input[type="radio"]:checked+label {
  background-color: rgb(240, 130, 120);
}

 .rdg .form-control:first-child input[value="NOT_DEFINED"]:checked+label {
  background-color: rgb(202, 202, 202);
}

 .rdg .form-control:first-child input[value="NOT_DEFINED"]:checked+label.lbl {
  background-color: rgb(202, 202, 202);
}
 .rdg .form-control input[type="radio"][value="AMBER"]:checked+label.lbl {
  background-color: rgb(255,213,28);
}
 .rdg .form-control input[value="GREEN"]:checked+label {
  background-color: rgb(102, 153, 0);
}
 .rdg .form-control input[value="CLEAR"]:checked+label {
  background-color: rgb(220, 220, 220);
}

div[data-schemaid="cvss4"] .je-indented-panel div div div.row:nth-child(7),
div[data-schemaid="cvss4"] .je-indented-panel div div div.row:nth-child(8),
div[data-schemaid="cvss4"] .je-indented-panel div div div.row:nth-child(9)
{
  background-color: var(--hig);
  border-radius: 5px;
    padding: 3px;
}
div[data-schemaid="cvss4"] .je-indented-panel div div div.row:last-child
{
  background-color: var(--sec);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
#wig {
    transform-origin: 196.626px 38.181px;
}
header:hover #wig{
  animation: 0.6s wiggle;
}


@keyframes wiggle {
    0% {
        transform: rotate(0deg)
    }

    15% {
        transform: rotate(4deg)
    }

    30% {
        transform: rotate(-4deg)
    }

    50% {
        transform: rotate(3deg)
    }
    75% {
        transform: rotate(-2deg)
    }
    100% {
        transform: rotate(0)
    }
}

#cvssSummary {
  gap: 2px 2px;
}

#finalScore {
font-weight:900; font-family:'Verdana';line-height:96px; font-size:67px;
min-width: 140px;
text-align: center;
border-radius: 7px;
transition: 500ms;
}
#finalSeverity, #finalUrgency {
min-width: 200px;
font-weight:100; font-family:'Verdana';line-height:48px; font-size:30px;
text-align: center;
border-radius: 7px;
transition: 500ms;
}

.CVSS.NA {
  background-color: rgb(220, 220, 220);
}
 
.CVSS.NONE {
  background-color: rgb(102, 153, 0);
}
.CVSS.LOW {
  background-color: rgb(202,211,29);
}
.CVSS.MEDIUM {
  background-color: rgb(255,213,28);
}
.CVSS.HIGH {
  background-color: rgb(242,145,0);
}
.CVSS.CRITICAL {
  color: white;
  background-color: rgb(204,1,25);
}
