//- Copyright (c) 2017 Chandan B N. All rights reserved.

//- Extends default document editor for CVE

extends ../../views/edit

block prepend bannerItemsRight
    form.indent.out.nobr(onsubmit="event.preventDefault();loadCVE(this.git.value);return false;")
        input.icn.txt.Import(type="text",name="git",placeholder="CVE-YYYY-NNNN",pattern=".*CVE-[0-9]{4}-[0-9]{4,12}.*",size=17,title="CVE ID CVE-yyyy-nnnn+",required)
        button.btn.icn.Import(type="submit") GIT
    form.indent.out.nobr(action="https://github.com/CVEProject/cvelist/search",method="GET")
        input(type="hidden",name="type",value="Code")
        input.icn.txt.Import(type="text",name="q",placeholder="Search CVElist",title="Search CVElist git repo",required)
        button.btn.icn.Search(type="submit") GIT

block customtabs
        input.tab(name='tabs', type='radio', id='advisoryTab', value="4")
        label.lbl(for='advisoryTab') Advisory
        .wht.fil.bor.pad
            div.render(id="render")
        input.tab(name='tabs', type='radio', id='mitreTab', value="5")
        label.lbl(for='mitreTab') MITRE
        .wht.fil.bor.pad
            div#mitreweb
        input.tab(name='tabs', type='radio', id='jsonTab', value="6")
        label.lbl(for='jsonTab') JSON            
        .wht.fil.bor.pad
            div(style='float:right')
                a.icn.right.copy.btn(onmouseover='this.textContent="Copy"',onclick='copyText(outjson);this.textContent="Copied"') Copy
                | 
                a.icn.right.download.btn(onclick='downloadText(outjson, this);') Download
            .pre#outjson
