//- Copyright (c) 2017 Chandan B N. All rights reserved.

extends layout

block append head
    link(rel='stylesheet', href= '/users/list/css')

block content
    if docs && docs.length == 0
        .pad.wht No items were changed.
            br
            button.btn.vgi-undo(onclick="history.back()") Return to previous page
    else
        .pad.wht
            button.btn.vgi-undo(onclick="history.back()") Return to previous page
            br
            include subcontent
            +changes
    
    
    
