//- Copyright (c) 2017 Chandan B N. All rights reserved.

extends min

include util
mixin pageHolder(id)
    a(name=id,id=id)
    .wht.bor.shd.gap.pad2.brk
        div(style='float:right')
            a.btn.vgi-mail.right(type="button",oncontextmenu='draftEmail(event, this, "r'+id+'");',onclick='draftEmail(event, this, "r'+id+'");',value="Email") Email
            a.btn.vgi-link(href="#"+id) Link
        .render(id='r' + id)
            .tred
                if(ext)
                    h5 Draft Security Advisory
                else
                    h5 Confidential Information : INTERNAL USE ONLY
            block

block content
    if min
        link(rel='stylesheet', href='css/style.css')
    script
        | draftEmail = !{cveOpts.script.draftEmail.toString()};
    .tred.pad2
        if(ext)
            h5 Draft Security Advisories
        else
            h3 Confidential Information
            h3 INTERNAL USE ONLY.
    .pad
        +table(idx, ['Advisory', 'CVE', 'Defect', 'CVSS','Title'])
        +distinctSummary(idx, ['Defect'])
        +tablesort
    if docs
        each doc, i in docs
            block cveBlock
                a(name=doc.body.CVE_data_meta.ID)
                - cmap = cveMap[doc.body.CVE_data_meta.ID];
                - refid = doc.body.source.advisory ? doc.body.source.advisory : i
                +pageHolder(refid)
                    +page(doc.body)
