//- Copyright (c) 2017 Chandan B N. All rights reserved.

footer(class="footer")
  div
    small
        = conf.classification
        | 
        = conf.copyright
    br
    small
        = conf.orgName
        |  
        = conf.groupName
        block logolink