body {
    /*font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;*/
    font-family: "Montserrat","-apple-system", "system-ui", "Arial", "sans-serif";
    --wht: #fff;
    --pur: #fff;
    --bck: #f6f6f7;
    --hig: #f0f0f0;
    --bor: #dadce0;
    --bor2: #c5c7ca;
    --txt: black;
    --lnk: #3d8cc6;
    --pri: #fde172;
    --sec: #fcf0c0;
    --sfe: #24b23b;
    --sfb: #177c28;
    --red: #f2c3b2;
    --grn: #b2f2bc;
    margin: 0px;
    background-color: var(--bck);
    color: var(--txt);
    font-size: 14px;
}
a {
    cursor: pointer;
}

dialog::backdrop {
    backdrop-filter: blur(1px);
}

dialog {
    min-width: 100px;
    width: 70vw;
    max-width: 80vw ;
}
.wlp {
    background-image: url('back.png');
}
/* BOXES */
.rnd {
    border-radius: 5px !important;
}
.ins {
    box-shadow: inset 0px 1px 4px rgba(0,0,0,0.2);   
}
hr.bort {
    border-bottom: 0px;
    border-left: 0px;
    border-right: 0px;
}
.bort {
    border-top:1px solid var(--bor2); 
}

.bor {
    border:1px solid var(--bor2);
}
.shd {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);   
}
.shd1 {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.2);   
}
.shd2 {
    box-shadow: 2px 3px 5px rgba(0,0,0,0.4);   
}
.btm {
    border-bottom: 1px solid rgba(0,0,0,0.05);   
}
.ban {
    overflow: auto;
    display: flex;
    clear:both;
    justify-content: space-between;
    flex-direction: row;
}
.flx {
    display: flex;
}

.gap0 {
    margin: 0 !important;
}

.tgap {
    margin-top: 0.5em;
}
.vgap {
    margin: 1em 0em;
}

.gap {
    margin: .5em;
    clear: both;
}
.gap2 {
    margin: 1em;
}
.pad {
    padding: 0.25em 0.5em 0.25em 0.5em;
}
.pad2 {
    padding: .5em 1em .5em 1em;
}
.indent {
    margin-left: 0.5em;
}
.je-indented-panel {
    margin-left: none;
    gap: 0.5em;
}
.mgt {
    margin-top: .5em;
}

@media (min-width: 600px) {
    .tgap {
        margin-top: 1em;
    }
    .gap {
        margin: 1em;
        clear: both;
    }
    .gap2 {
        margin: 2em;
    }
    .pad {
        padding: 0.5em 1em 0.5em 1em;
    }
    .pad2 {
        padding: 1em 2em 1em 2em;
    }
    .indent {
        margin-left: 1em;
    }
    .je-indented-panel {
        margin-left: none;
        gap: 1em;
    }
    .mgt {
        margin-top: 1em;
    }
}

.brk {
    page-break-before: always;
}
.ht2 {
    min-height: 2em;
}
.ht4 {
    min-height: 4em;
}
.thead, .tbody, .tfoot {
    display: table-row-group;
}
.tbl th, .tbl .th {
    position: sticky;
    top: 45px;
    background-color: var(--hig);
    font-size: x-small;
}
.tbl {
    display: table;
   border-collapse:collapse;
    border: 1px solid var(--bor);
    table-layout: auto;
    background-color: var(--wht);
}

.tr {
    display: table-row;
}
.th, .td {
    display: table-cell;
}
.tbl td, .tbl th, .tbl .td, .tbl .th {
    padding: 0.2em 0.3em;
    border-left: solid var(--bor) 1px;
    border-top: solid var(--bor) 1px;
}

.tbl a {
    text-decoration: none;
}
.stp tr:hover {
    background-color: var(--hig);
}

.sortup:after,
[aria-sort="descending"]:after {
    content: "▲";
    color: var(--lnk);
    overflow-x: hidden;
}

.sortdown:after,
[aria-sort="ascending"]:after {
    content: "▼";
    color: var(--lnk);
    overflow-x: hidden;
}

/*POSTITION*/
.stk {
    position: sticky;
    top: 0px;
    z-index: +5;
}
.center {
    text-align: center;
    vertical-align: middle;
}
.mid {
/*    position: relative;
    top: 50%;
    transform: translateY(-50%); */
    vertical-align: middle;
    text-align: center;
}
.flr {
    float: right;
}
.right {
    margin-left: auto;
    text-align: right;
}

.left {
    margin-right: auto;
    text-align: left;
}
.fil {
    width: 100%;
    box-sizing: border-box;
}
.flx {
    display: flex;
    flex-wrap: wrap;
}

.flx .right {
    margin-left: auto;
}
.nobr {
    white-space: nowrap;
}
.hid {
    display: none !important;
}
.block {
    display: block;
}
.pointer {
    cursor: pointer;
}
.invis {
  color: rgba(0,0,0,0); 
  font-size: 0;
}
.pop {
    position:absolute;
    z-index: +4;
}

details.popup summary::-webkit-details-marker {
    display: none;
    color: transparent;
}
details summary { 
    cursor: pointer;
}
  
/* TYPOGRAPHY */
.big {
    font-size: 20px;
    font-family: "Arial";
    color: var(--txt);
    letter-spacing: 1px;
    vertical-align: middle;
    /*text-shadow:  0px 1px 2px #ffffff;*/
}
.sml {
    font-size: 82%;
}
.btn.sml {
    padding: 3px 9px;
}
pre, .pre {
    font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, 'Monaco', 'Andale Mono', monospace; font-size: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
}
.wrp {
    white-space: pre-wrap;
}
/*
a {
    text-decoration: none;
    color: var(--lnk);
}

a:hover, a:active, a:focus {
    text-decoration: underline;
    color: var(--lnk);
}
*/
/* UI elements */

.btg .bor {
    margin-left: -1px;
}
.btg.rnd .bor:first-child {
    border-bottom-left-radius: 3px;
    border-top-left-radius: 3px;
}
.btg.rnd .bor:last-child {
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
}
.btg .out:hover, .btg .out:active {
    z-index: 2;
}
.btg .fbn {
    margin-left: 0px;
}

select.btn {
  /*      -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;*/
    height:32px;
    background-color:var(--wht);
    box-sizing:border-box;
}

.sbn, .fbn, .btn, .txt, .lbl, .tag, .tag-s {
    display: inline-block;
    zoom:1;
    white-space: nowrap;
    vertical-align: middle;
    align-items: center;
    box-sizing: content-box;
    font-family: inherit;
    font-size: 100%;
    padding: .5em 1em;
    text-decoration: none;
    border-radius: 2px;
    color: var(--txt);
}
.sbn {
    width: 30px; height: 30px;
    border: 0;
    background-color: transparent;
    background-position: 50% 50% !important;
}

.sbn, .pad3 {
    padding: 3px !important;
}
.out {
    border-radius: 2px;
    display: inline-block;
}
.tag, .tag-s {
    min-width: 3.3em;
    color:var(--wht);
    line-height: normal;
    text-align: center;
    border-radius: .5em;
}
.tag-s {
    min-width: 2.5em;
    padding: .4em;
    border-radius: .2em;
}
.out, .btn, .txt {
    border: 1px solid var(--bor);
    outline: none;
}

.btn:focus,
.btn:active,
.btn:hover {
    border: 1px solid var(--bor2);
}
.otl:focus, .otl:active, .otl:hover,
.txt:focus, .txt:active, .txt:hover,
.out:focus, .out:active, .out:hover 
{
    /*border: 1px solid var(--lnk);
    outline: 3px solid rgba(114, 162, 217, 0.33);
    outline-offset: -1px;*/
border-color: var(--lnk);
outline: none;
box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3);
    
}
:required {
    box-shadow: 0px 0px 0px 2px rgba(252, 114, 114, 0.33);        
    border: 1px solid rgb(0, 134, 67);
}
/* TBD */
:invalid {
    box-shadow: 0px 0px 0px 2px rgba(252, 114, 114, 0.33);        
    border: 1px solid coral;
}
form:invalid {
    border: 0px;
    box-shadow: 0px 0px 0px 0px;
}
.txt[readonly="true"]:focus, .txt[readonly="true"]:active, .txt[readonly="true"]:hover
{
border-width: 1px;
box-shadow: 0 0 0 0.2em rgba(147, 147, 147, 0.3);
    
}
.fbn {
    border: 0px none;
}
.out .txt, .out .btn, .out .fbn {
    box-shadow: none;
    outline: none;
    border: 0px none;
    margin: 0px;
}
.btn, .fbn, .lbl {
    margin-right: .2em;
}
.btn, .fbn, .txt {
    margin-bottom: 1px;
}
.btn:disabled, .btn:disabled:hover, .btn:disabled:active {
    background-color: var(--wht);
    color: var(--bor2);
    box-shadow: none;
    cursor: default;
}
.btn {
   /* border: 1px solid var(--bor);*/
    user-select: none;
    box-shadow: inset 0px 1px 1px rgba(255,255,255, .95), 0px 1px 1px rgba(0, 0, 0, 0.2);
    background-color: var(--hig);
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
    margin-right: .2em;
}
.txt {
/*    box-shadow: inset 0px .5px 1px rgba(0, 0, 0, 0.3);*/
    padding: 0.5em;
   /* font-family: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, 'Monaco', 'Andale Mono', monospace;*/
    font-weight: normal;
    white-space: normal;
    margin-bottom: 1px;
    background-color: var(--wht);
}
::placeholder {
    color: var(--bor2);
}
.txt:disabled {
    background-color: var(--wht);
    box-shadow: none;
    color: black;
    border: none;
    outline: none;
}
.txt:disabled:hover, .txt:disabled:focus, .txt:disabled:active {
    outline: 1px solid var(--bor);
    box-shadow: none;
}

.sbn:hover, .fbn:hover,.btn:hover {
    box-shadow: 0px 2px 4px rgba(0,0,0,0.2);
    background-color: var(--wht);
    color: var(--txt);
    transition: all 0.2s;
}

.sbn:active,.fbn:active,.btn:active {
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    opacity: 0.5;
    background-color: var(--wht);
    color: var(--txt);
    transition: all 0.2s;
}

/* button group */
.btg {
    display: inline-flex;
    flex-direction: row;
}
.btg .btn{
    margin-right: 0px;
}

.rdg {
    font-size: 14px;
    display: inline-flex;
    vertical-align: middle;
    flex-wrap: wrap;
}
.rdg .form-control {
    display: inline-flex;
}
.rdg .lbl {
    border: 1px solid var(--bor);
    display: inline-flex;
    margin: 0px;
    margin-left: -1px;
    border-radius: 0px;
    background-color: var(--wht);
}

.rdg input[type="checkbox"], .rdg input[type="radio"] {
    display: none;
}

.rdg input[type="checkbox"]:checked + .lbl,
.rdg input[type="radio"]:checked + .lbl,
.rdg input[type="radio"] + .lbl:hover,
.rdg input[type="radio"] + .lbl:active {
    background-color: Highlight;
    color: HighlightText;
    border: 1px solid var(--bor2);
    z-index: 1;
}
.rdg input[type="checkbox"]:checked + .lbl:hover,
.rdg input[type="radio"] + .lbl:hover,
.rdg input[type="radio"] + .lbl:active {
    z-index: 2;
    border-color: var(--lnk);
outline: none;
box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3);
}


.rdg :last-child .lbl{
    border-right: 1px solid var(--bor);
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}
.rdg :first-child .lbl{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    margin-left: 0px;
}

.bdg {
    display: inline-block;
    border-radius: 50%;
    line-height: 16px;    
    width: 16px;
    height: 16px;
    padding: 3px;
    font-weight: bold;
    font-size: small;
    background: #f04507;
    color: var(--wht);
    text-align: center;    
}

.dlg {
    padding: 0px;
}

.bdg[title="0"] {
    display: none;
}

.icn {
   display: inline-flex; 
   padding-top: 5px;
   padding-bottom: 5px;
   line-height: 20px;
}
.ico:before, .icn:before {
  display: inline-flex;
  background-repeat: no-repeat;
  width: 1em;
  height: 1em;
  min-width: 1em;
  font-size: 20px;
  background-size:cover;
  content: '';
  margin-right: 2px;
}
.ico:before {
    font-size: 1em;
/*    min-width: 0em;*/
}

input.tab[type="radio"], input.tab[type="radio"]:not(checked) + .lbl + div{
    display: none;
} 
input.tab[type="radio"] + .lbl {
    margin-left: .25em;
    border: 1px solid var(--bor);
    line-height: 25px;
    background-color: var(--hig);
    border-top-left-radius: .5em;
    border-top-right-radius: .5em;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px;
    margin-bottom: 1px;
}

input.tab[type="radio"] + .lbl:active {
    background-color: var(--wht);
}

input.tab[type="radio"]:checked + .lbl + div {
    display: block;
    float: left;
    min-height: 20em;
    min-width: 30em;
    margin-top:-1px;
}

input.tab[type="radio"]:checked + .lbl {
    background-color: var(--wht);
    border-bottom: 1px solid transparent;
    margin-bottom: -1px;
    border-bottom-left-radius: 1px;
    border-bottom-right-radius: 1px;
    z-index: 3;
}

input.tab[type="radio"] + .lbl:hover,
input.tab[type="radio"] + .lbl:focus
{
    background-color: var(--wht);
}

/* COLORS */
.pur {
    background-color: var(--wht);
}
.wht {
    background-color: var(--wht);
}
.sfe {
    background-color: var(--sfe);
    color: var(--wht);
    border-color: var(--sfb);
}
.pri {
    background-color: var(--pri);
}
.sec {
    background-color: var(--sec);
}
.hig {
    background-color: var(--hig);
}
.grn {
    background-color: var(--grn);
}
.red {
    background-color: var(--red) !important;
}

.tag.red {
    background-color: coral !important;
}

.tab + .red {
    background: var(--red);
    background: linear-gradient(0deg, rgba(255,255,255,255) 0%, var(--red) 400%)!important;
}

.lyel {
    background-color: hsl(55, 94%, 91%);
}
.tred {
    color: #d1430f !important;
}
.tgrey {
    opacity: 0.4 !important;
}


.chart>label:first-child {
    display: block;
}

.chart>label:last-child:before,
.chart>label:first-child:after {
    content: "❯";
    opacity: 0;
    transition-duration: 0.5s;
    transition-property: opacity;
}

.chart label {
    cursor: pointer;
}

.chart:hover>label:last-child:before,
.chart:hover>label:first-child:after {
    content: "❯";
    opacity: 1;
}

.chart>label:last-child:before {
    position: absolute;
    margin-top: 9px;
    margin-left: -1px;
    height: 30px;
    width: 10px;
}

.chart>label:first-child:after {
    margin-left: 5px;
}

.chart:hover>.expand:checked~label:before {
    content: "❮";
}

.expand:checked~.bar {
    display: inline-table;
    transition: all .5s;
    width: auto;
}

.chart {
    box-sizing: border-box;
    display: inline-block;
    padding: 3px;
    margin: 1px 2px;
    /*    float:left;
    border:1px solid var(--bor);
    min-height: 65px;*/
}

.chart .bar .icn {
    line-height: 10px;
}

.chart .bar .icn:before {
    font-size: 12px;
}

.chart .bar {
    display: inline-block;
    margin: 1px;
}

.chart .bar label {
    width: 100%;
    box-sizing: border-box;
    transition-duration: 0.4s;
    border-width: 0px;
    outline-color: white;
}

.chart .bar input {
    display: none;
}

.chart .bar input:checked+label {
    border-color: #444;
    border-style: solid;
    box-shadow: inset 0px 2px 3px rgba(0, 0, 0, 0.1);
    border-width: 1px;
    border-bottom-width: 3px;
}

.chart .bar label:active,
.chart .bar input+label:hover {
    outline: 1px solid var(--lnk);
    box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3);
}

.chart .bar label {
    /*   border: 1px solid white;*/
    display: inline-block;
    font-size: 10px;
    height: 34px;
    overflow: hidden;
    white-space: pre;
    padding: 1px;
    text-align: center;
    font-weight: normal;
}


.chart {
    --tc: black;
    --c1: #E0F3DB;
    --c2: #CCEBC5;
    --c3: #A8DDB5;
    --c4: #7BCCC4;
    --c5: #4EB3D3;
    --c6: #2B8CBE;
    --c7: #97c782;
    --c8: #a49f8c;
    --c9: #F0BC5B;
    --c10: #D6C888;
    --c11: #BDD4B6;
    --c12: #B0BBAC;
    --c13: #c4d0c0;
}

.chart:nth-child(odd) {
    --c1: #FDB462;
    --c2: #8dd3c7;
    --c3: #bebada;
    --c4: #fb8072;
    --c5: #80b1d3;
    --c6: #fdb462;
    --c7: #b3de69;
    --c8: #fccde5;
    --c9: #d9d9d9;
    --c10: #bc80bd;
    --c11: #ccebc5;
}

.bar:nth-child(15n+1) label {
    background-color: var(--c3)
}

.bar:nth-child(15n+2) label {
    background-color: var(--c2)
}

.bar:nth-child(15n+3) label {
    background-color: var(--c1)
}

.bar:nth-child(15n+4) label {
    background-color: var(--c2)
}

.bar:nth-child(15n+5) label {
    background-color: var(--c3)
}

.bar:nth-child(15n+6) label {
    background-color: var(--c4)
}

.bar:nth-child(15n+7) label {
    background-color: var(--c5)
}

.bar:nth-child(15n+8) label {
    background-color: var(--c6)
}

.bar:nth-child(15n+9) label {
    background-color: var(--c7)
}

.bar:nth-child(15n+10) label {
    background-color: var(--c8)
}

.bar:nth-child(15n+11) label {
    background-color: var(--c9)
}

.bar:nth-child(15n+12) label {
    background-color: var(--c10)
}

.bar:nth-child(15n+13) label {
    background-color: var(--c11)
}

.bar:nth-child(15n+14) label {
    background-color: var(--c12)
}

.bar:nth-child(15n+15) label {
    background-color: var(--c13)
}

.bar label {
    background-color: var(--c1);
    color: var(--tc);
}


.compactTable:checked+table span[class^="vgi-"],
.compactTable:checked+table span[class*=" vgi-"] {
    min-width: 0em;
    width: 0em;
    overflow: hidden;
}

label[for="compactTable"][val=""]:after {
    content: " Expand ";
    font-size: small;
}

label[for="compactTable"][val="false"]:after {
    content: " Expand ";
    font-size: small;
}

label[for="compactTable"][val="true"]:after {
    content: " Compact ";
    font-size: small;
}

label[for="compactTable"][val="false"]:after {
    content: " Expand ";
    font-size: small;
}

.editor textarea {
    font-size: 14px;
}

.bld, .editor .req {
    font-weight: bold;
  }

.editor .req::after {
    content: '*';
    padding-left: 0.5em;
    color: coral;
}

.editor .tbl th {
    text-align: left;
    padding: 0px;
}
.editor .tbl th b:not(:empty) {
    margin: .2em .5em;
}

.editor .tbl {
    width: 100%;
}

.editor .tbl td {
    padding: 0;
}

.editor .tbl td:last-child {
    width: 0.2%;
    white-space: nowrap;
    vertical-align: middle;
}

.editor .form-control {
    display: flex;
    flex-direction: column;
    align-items: left;
}

/* lni Label next to Input */
.editor .lni {
    flex-direction: row;
} 
.editor .lni > input {
    flex-grow: 1;
}

div[data-schemaid="root"]>b {
    display: none;
}

div[data-schematype="array"] select {
    height: 1.5em;
}

div[data-schematype="array"] td:hover,
div[data-schematype="array"] td:focus-within {
    border: 1px solid var(--lnk);
    /*    box-shadow: 0 0 0 0.2em rgba(3,102,214,0.3);*/
    outline: 1px solid rgba(3, 102, 214, 0.3);
    outline-offset: 0px;
}

textarea,
.wysihtml5-editor {
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    margin-top: 5px;
}

.wysihtml5-commands-disabled .sbn {
    opacity: 0.2;
}

.wysihtml5-commands-disabled .wysihtml5-action-active {
    opacity: 1;
}

.toolbar div[data-wysihtml5-dialog] {
    background-color: var(--wht);
    margin: 5px 0 0;
    padding: 5px;
    border: 1px solid var(--bor);
    top: 2em;
    box-shadow: 1px 2px 3px #99999955;
}

.toolbar {
    top: 66px;
    z-index: 0;
}
.form-control .toolbar {
    opacity: 0.5;
    box-shadow: 0px 2px 2px rgb(0 0 0 / 5%);;
    transition-duration: 0.5s;
    transition-property: opacity;
}
.form-control:hover .toolbar {
    opacity: 1;
}
.wysihtml5-action-active,
.wysihtml5-command-active,
.toolbar .sbn:hover {
    color: #999999;
    background-color: var(--bor);
}

.wysihtml5-editor {
    outline: none;
    margin-top: 5px;
    padding: 6px;
}
.simplehtml:hover {
    border: 1px solid var(--lnk) !important;
    box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3) !important;
}

.wysihtml5-editor table {
    border-collapse: collapse;
    border: 1px solid var(--bor2);
}

.wysihtml5-editor td {
    padding: 4px 8px !important;
    border: 1px solid var(--bor) !important;
    width: auto !important;
}

.toolbar .txt {
    border: 1px solid var(--bor) !important;
}

.toolbar .txt:focus,
.toolbar .txt:active,
.toolbar .txt:hover {
    /*border: 1px solid var(--lnk);
    outline: 3px solid rgba(114, 162, 217, 0.33);
    outline-offset: -1px;*/
    border: 1px solid var(--lnk) !important;
    box-shadow: 0 0 0 0.2em rgba(3, 102, 214, 0.3) !important;
}

.wysihtml5-editor th {
    background-color: var(--hig) !important;
}

.wysihtml5-editor blockquote,
.wysihtml5-editor pre {
    background-color: var(--hig);
    word-wrap: break-word;
    white-space: pre-wrap;
    padding: 4px 8px;
}
/*
div[data-schematype="array"] td>.form-control {
    height: 100%;
}*/

div[data-schematype="array"] td>.form-control:first-child .txt,
div[data-schematype="array"] td>.form-control:first-child select {
    outline: none;
    padding: 0.5em 0.5em;
    border: none;
    box-shadow: none;
    height: 100%;
    box-sizing: border-box;
}

div[data-schematype="array"] td>.form-control:first-child .wysihtml5-editor {
    outline: none;
    padding: 0.5em 0.5em;
    border: none;
    box-shadow: none;
}


div[data-schematype="array"] input[type="text"]:hover {
    background-color: var(--pur);
}

div[data-schematype="array"] textarea {
    flex-grow: 1;
    border: none;
    padding: 5px;
}

div[data-schemaid="root"]>h3 {
    display: none;
}

div[data-schematype="object"]>h3>span:before {
    color: "red";
}

.editor-statusbar,
.editor-preview-side,
.CodeMirror,
.editor-toolbar {
    flex-basis: 100%;
}
.editor .je-object__controls {
    display: none;
}

.editor div.je-indented-panel {
    padding-left: 0px;
    margin-left: 0px;
    border-left: 0px;
}
.je-infobutton-icon {
    font-size: 60% !important;
    color: gray;
    padding: 0px 3px!important;
}

.je-infobutton-tooltip {
    z-index: 10 !important;
    background-color: rgba(255, 248, 211, 0.95) !important;
    color: rgb(0, 0, 0) !important;
    position: absolute;
    left: -6rem;
    bottom: 1rem;
    width: auto !important;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(161, 158, 138);
}

.expand {
    display: none;
}

.json-editor-btn-delete .vgi-cancel, .json-editor-btn-add .vgi-add {
    padding-left: 0em;
    padding-right: 0em;
    background-position-x:0px;
    background-size: 1em;
}
td > span:first-child > .json-editor-btn-delete{
    border: none !important;
    box-shadow: none !important;
    padding: 5px !important;
    background: none !important;
    margin: 0px;
    font-size: 1.5em;
}
.json-editor-btn-add {
    margin-left: 2em;
}

.editor span[vg="obj-del"] {
    position: absolute;
    top: 1em;
    right:1em;
    display: block;
}
 
.editor div[vg="array-obj"] {
    position: relative;
    border:1px solid var(--bor);
    border-radius: 5px;
    background-color: #f4f9fa;
    padding: 1em;
    margin-top: .5em;
    margin-bottom: .5em;
}

/* materilaize*/

.row {
    display: flex;
    flex-direction: column;
    column-gap: 1em;
    align-items: left;
    margin-bottom: 2px;
}
.tbl .row {
    margin-bottom: 0px;
}
@media (min-width: 600px) {
    .row {
        display: flex;
        flex-direction: row;
    }
    .row .col {
        margin-left: auto;
    }
    .row .col {
        float: left;
        -webkit-box-sizing: border-box;
                box-sizing: border-box;
        column-gap: 1em;
        min-height: 1px;
      }

  .row .col.s1 {
    width: 8.3333333333%;
    left: auto;
    right: auto;
  }
  
  .row .col.s2 {
    width: 16.6666666667%;
    left: auto;
    right: auto;
  }
  
  .row .col.s3 {
    width: 25%;
    left: auto;
    right: auto;
  }
  
  .row .col.s4 {
    width: 33.3333333333%;
    left: auto;
    right: auto;
  }
  
  .row .col.s5 {
    width: 41.6666666667%;
    left: auto;
    right: auto;
  }
  
  .row .col.s6 {
    width: 50%;
    left: auto;
    right: auto;
  }
  
  .row .col.s7 {
    width: 58.3333333333%;
    left: auto;
    right: auto;
  }
  
  .row .col.s8 {
    width: 66.6666666667%;
    left: auto;
    right: auto;
  }
  
  .row .col.s9 {
    width: 75%;
    left: auto;
    right: auto;
  }
  
  .row .col.s10 {
    width: 83.3333333333%;
    left: auto;
    right: auto;
  }
  
  .row .col.s11 {
    width: 91.6666666667%;
    left: auto;
    right: auto;
  }
  
  .row .col.s12 {
    width: 100%;
    left: auto;
    right: auto;
  }
}

 .CodeMirror,
.CodeMirror-scroll {
    /*height: 100px !important;*/
    min-height: 100px !important;
}
td.compact {
    height: 1px;
}
td.compact .form-control {
    box-sizing: border-box;
    margin: 0px;
}

/*.je-object__title {
    padding: .5em 0em;
}*/


.je-switcher {
   height: 28px!important;
   appearance: none;
   -webkit-appearance: none;
   -moz-appearance: none;
   padding:0px!important;
   outline: 0px;
   border: 1px solid var(--bor2);
   border-radius: 5px;
   overflow: hidden;
}
.je-switcher option:checked {
    background-color: Highlight;
    color: HighlightText;
}

.je-switcher option{
   display: inline-block !important;
   width: auto!important;
   height: 16px;
   appearance: none;
   padding: 5px 1em;
   font-style: normal !important;
   background-color: var(--wht); 
}

 @media not all and (min-resolution:.001dpcm) { @supports (-webkit-appearance:none) and (display:flow-root) {
    .je-switcher { 
        appearance:auto !important; 
   } 
} }

 .je-switcher option::selection, .je-switcher option:active,  .je-switcher option:hover {
    background-color: var(--sec);
}

input[type="datetime-local"] {
    height: 17px;
    font-size: small;
    background-color: var(--wht);
    min-width: 16em;
}

input[type="datetime-local"]::after {
    height: 17px;
    content: attr(tz);
    color: #999;
}

div[data-schemapath*=".cvss"] .rdg .form-control:first-child input[type="radio"]:checked+label {
    background-color: rgb(162, 213, 114);
  }
  
  div[data-schemapath*=".cvss"] .rdg .form-control input[type="radio"]:checked+label {
    background-color: rgb(250, 230, 120);
  }
  
  div[data-schemapath*=".cvss"] .rdg .form-control:nth-child(3) input[type="radio"]:checked+label {
    background-color: rgb(240, 170, 83);
  }
  
  div[data-schemapath*=".cvss"] .rdg .form-control:nth-child(4) input[type="radio"]:checked+label {
    background-color: rgb(240, 130, 120);
  }
  
  div[data-schemapath*=".cvss"] .rdg .form-control:last-child input[type="radio"]:checked+label {
    background-color: rgb(240, 130, 120);
  }

  .spinner {
    background-image: url(logo.gif);
    content: "";
    display: block;
    width: 120px;
    height: 120px;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0;
    animation: fadeIn 500ms ease 1;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }
  .spinner::before {
    border: 10px solid #f3f3f3; /* Light grey */
    border-top: 10px solid #3498db; /* Blue */
    border-radius: 50%;
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    text-align: center;
    animation: spin 1s linear infinite;
    animation-delay: 1s;
    animation-fill-mode: forwards;
  }

  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }


#mainTabGroup {
    display: grid; 
    grid-template-columns: max-content repeat(8, max-content) 1fr; 
    grid-auto-columns:auto; 
    grid-template-rows: min-content max-content; 
    gap: 0px 0px; 
  }
  #mainTabGroup > label {
    justify-self:stretch;
    grid-row: 1;
}
#mainTabGroup > label:first-of-type {
    margin-left: 2em;
}
/*  #mainTabGroup > .label1 { grid-area: 1 / 2 / 2 / 3; }*/
  #mainTabGroup > div { grid-area: 2 / 1 / 3 / -1; }