//- Copyright (c) 2017 Chandan B N. All rights reserved.

//- Extends default document editor for CVE

extends ../../views/edit
block append bannerItemsLeft
    a.vgi-tweet.fbn(type="button",oncontextmenu='tweetJSON(event, this);',onclick='tweetJSON(event, this);',value="Download",target="_blank",title="Share a tweet about this CVE") Tweet

block append scripts
    script
        include script.js

block prepend bannerItemsRight
    form.indent.out.nobr(action="https://github.com/CVEProject/cvelist/search",method="GET")
        input(type="hidden",name="type",value="Code")
        input.icn.txt.Import(type="text",name="q",placeholder="Search CVElist",title="Search CVElist git repo",required)
        button.btn.vgi-search(type="submit") GIT

block customtabs
        input.tab(name='tabs', type='radio', id='advisoryTab', value="4")
        label.lbl(for='advisoryTab') Advisory
        .wht.fil.bor.pad
            div(style='float:right')
                a.vgi-download.btn.right(type="button",oncontextmenu='downloadHtml(document.getElementById("cvetitle").innerText, render, this);',onclick='downloadHtml(document.getElementById("cvetitle").innerText, render, this);',value="Download") Download
                a.vgi-mail.btn.right(type="button",oncontextmenu='draftEmail(event, this, "render");',onclick='draftEmail(event, this,"render");',value="Email") Email
            div.render(id="render")
        input.tab(name='tabs', type='radio', id='mitreTab', value="5")
        label.lbl(for='mitreTab') MITRE-Preview
        .wht.fil.bor.pad
            div#mitreweb
        input.tab(name='tabs', type='radio', id='jsonTab', value="6")
        label.lbl(for='jsonTab') CVE-JSON            
        .wht.fil.bor.pad
            div(style='float:right')
                a.vgi-copy-clipboard.right.btn(onmouseover='this.textContent="Copy"',onclick='copyText(outjson);this.textContent="Copied"') Copy
                | 
                a.vgi-download.right.btn(onclick='downloadText(outjson, this);') Download
            .pre#outjson
        input.tab(name='tabs', type='radio', id='idrTab', value="6")
        label.lbl(for='idrTab') Reserved IDs          
        .wht.fil.bor.pad
            .h3 Under construction
            