body{
 /*--hig:#f6f6f7;*/
 --hig: #e5ebec;
}   

#cveUser .pop {
  right: 2em !important;
}
table#vgListTable td.cvss span {
  background-color: #CCC;
  display: inline-block;
  min-width: 2.4em;
  padding: 0.3em 0.5em;
  color: #fff;
  line-height: normal;
  text-align: center;
  border-radius: 0.5em;
  font-weight: 700;
}

#vgListTable .cvss span[title^="8"],
#vgListTable .cvss span[title^="7"]
{
background-color: salmon;
}

#vgListTable .cvss span[title^="6"],
#vgListTable .cvss span[title^="5"],
#vgListTable .cvss span[title^="4"]
{
background-color: orange;
}

#vgListTable .cvss span[title^="3"],
#vgListTable .cvss span[title^="2"],
#vgListTable .cvss span[title^="1."],
#vgListTable .cvss span[title^="0."]
{
background-color: gold;
color: #000;
}

#vgListTable .cvss span[title="0"],
#vgListTable .cvss span[title="0.0"]
{
background-color:rgb(162, 213, 114);
}

#vgListTable .cvss span[title^="10"],
#vgListTable .cvss span[title^="9"]
{
background-color: orangered;
}

.CVSS.NONE {
  background-color: rgb(162, 213, 114);
}
.CVSS.LOW {
  background-color: gold;
}
.CVSS.MEDIUM {
  background-color: orange;
}
.CVSS.HIGH {
  background-color: salmon;
}
.CVSS.CRITICAL {
  color: white;
  background-color: orangered;
}

.affectedCol {
  border: 4px solid #fa582d
}
.lessThan::before {
  content: '<';
}


div[data-schemapath="root.containers.adp"] > div > div > [vg="array-obj"] {
  background-color: #f5f3e8;
}


button.json-editor-btn-delete {
  margin-left: 1em;
}


.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

/* MITRE simulation styles */

#GeneratedTable { border:1px solid #000000; border-collapse: collapse;}
#GeneratedTable th { font-weight: bold; padding: 2px 5px 2px 5px; text-align: left;  vertical-align:top; background-color: #999999; color:#ffffff; border-top:1px solid #000000; border-bottom:1px solid #000000 }
#GeneratedTable td { padding: 5px; font-size: 90%; vertical-align:top; border-bottom:1px solid #e0dbd2 }
#GeneratedTable .note { font-size: 80%; background-color:#eeeeee; color:#880000; }
#GeneratedTable .ltgreybackground { border-left:1px solid #cccccc; background-color: #eeeeee; }


#GeneratedTable p { font-family: Verdana, Helvetica, sans-serif; margin-top:0px;}
#GeneratedTable td { font-family: Verdana, Helvetica, sans-serif;}
#GeneratedTable th { font-family: Verdana, Helvetica, sans-serif; }

#GeneratedTable ul { font-family: Verdana, Helvetica, sans-serif; }
#GeneratedTable li { font-family: Verdana, Helvetica, sans-serif;  padding-top:2px; padding-bottom:3px }
#GeneratedTable ol { font-family: Verdana, Helvetica, sans-serif; }

#GeneratedTable h1 { font-family: Verdana, Helvetica, sans-serif;}
#GeneratedTable h2 { font-family: Verdana, Helvetica, sans-serif; color: #000000; padding:0px 0px 5px 0px; margin:0px; white-space: nowrap;}
#GeneratedTable h2 a { color: #000000;}
#GeneratedTable h3 { font-family: Verdana, Helvetica, sans-serif; padding:0px 0px 5px 0px; margin:0px; color:#880000; text-align:left}
#GeneratedTable h3 a { color:#880000;}
#GeneratedTable h4 { font-family: Verdana, Helvetica, sans-serif; margin: 10px 0px 10px 0px; color: #000000; padding-bottom:10px; }
#GeneratedTable h4 a { color: #000000; }
#GeneratedTable h5 { font-family: Verdana, Helvetica, sans-serif; padding:6px 0px 6px 0px; margin: 6px 0px 6px 0px; color: #000000}
#GeneratedTable h5 a { color: #880000}
#GeneratedTable pre { overflow: auto; } /* added on 10-29-2015 to fix the /data/board/archives/ pages  */

/*  REUSABLE ATTRIBUTES  */
#GeneratedTable a { color:#3377CC }
#GeneratedTable a:hover { color:#880000; }

#GeneratedTable .larger   { font-size: 120%; }
#GeneratedTable .smaller   { font-size: 90%; }


table.striped {
        font-size: 100%;
  border-spacing: 0;
  border: 1px solid #c1c1c1;
  border-collapse: collapse;
}

table.striped th {
  height: 24px;
  text-align:center;
  background-color: #f0f0f0;
  border : #ababab 1px solid;
  padding-left:5px;
  padding-right:5px;
}

table.striped td {
  padding:5px;
  border-width: 0px 1px 0px 1px;
  border : #c1c1c1 1px solid;
}

#loginErr {
  font-weight: bold;
  color: #880000;
  margin: 1em;
}

.usermgmt {
  right: 2em;
}

#cvePage, #showpass {
    display: none;
}

.sicn {
  padding: 0.1em 0.4em;
}

.tr:hover, .tr.active {
  box-shadow: #e5ebec;
  background-color:var(--hig);
}

.t9 {
  color: gray;
  padding: 8px;
  font-size: small;
}

.formError {
  color: #880000;
  font-size: smaller;
}

.formReadOnly {
    background-color: #eee;
    pointer-events: none;
}

label[for="cvePortalTab"] {
  background-color: var(--sec) !important;
}

/* cveLogin box */

#cpBox {
  padding: 2em 0px;
  display: grid; 
  grid-template-columns: auto; 
  grid-template-rows: min-content min-content auto; 
  gap: 0px 0px; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
}
#cpPrompt { grid-area: 3 / 1 / 4 / 2; }
#cpTitle { grid-area: 2 / 1 / 3 / 2; }
#cpLogo { grid-area: 1 / 1 / 2 / 2; }


#cveLoginForm {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: min-content 1fr; 
  gap: 1em .5em; 
  padding: 1em;
}

#cveLoginForm label {
  text-align: right;
}
#cveLoginForm #cpSubmit {
  grid-area: 5 / 1 / 6 / 3; 
  justify-self: center; 
  align-self: center; 
}


@media (min-width: 600px) {
#cpBox {
  display: grid;
  padding: 3em; 
  grid-template-columns: 1fr 1.5fr; 
  grid-template-rows: max-content min-content; 
  gap: 5px 6px; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
  text-align: center;
}
#cpTitle {
  align-self: start; 
  grid-area: 2 / 1 / 3 / 2; 
  text-align: center;
  padding: 1em;
}
#cpLogo {
  justify-self: stretch; 
  align-self: end; 
  grid-area: 1 / 1 / 2 / 2; 
  padding: 1em;
}
#cpPrompt { 
  justify-self: stretch; 
  border-left: 2px #999999 dotted;
  grid-area: 1 / 2 / 3 / 3;
}
}