body{
 /*--hig:#f6f6f7;*/
 --hig: #e5ebec;
 --bck:#fafafc;
}   

#cveUser .pop {
  right: 2em !important;
}
table#vgListTable td.cvss span {
  background-color: #CCC;
  display: inline-block;
  min-width: 2.4em;
  padding: 0.3em 0.5em;
  color: #fff;
  line-height: normal;
  text-align: center;
  border-radius: 0.5em;
  font-weight: 700;
}

#vgListTable .cvss span[title^="8"],
#vgListTable .cvss span[title^="7"]
{
background-color: salmon;
}

#vgListTable .cvss span[title^="6"],
#vgListTable .cvss span[title^="5"],
#vgListTable .cvss span[title^="4"]
{
background-color: orange;
}

#vgListTable .cvss span[title^="3"],
#vgListTable .cvss span[title^="2"],
#vgListTable .cvss span[title^="1."],
#vgListTable .cvss span[title^="0."]
{
background-color: gold;
color: #000;
}

#vgListTable .cvss span[title="0"],
#vgListTable .cvss span[title="0.0"]
{
background-color:rgb(162, 213, 114);
}

#vgListTable .cvss span[title^="10"],
#vgListTable .cvss span[title^="9"]
{
background-color: orangered;
}

.CVSS.NONE {
  background-color: rgb(162, 213, 114);
}
.CVSS.LOW {
  background-color: gold;
}
.CVSS.MEDIUM {
  background-color: orange;
}
.CVSS.HIGH {
  background-color: salmon;
}
.CVSS.CRITICAL {
  color: white;
  background-color: orangered;
}


.lessThan::before {
  content: '<';
}


div[data-schemapath="root.containers.adp"] > div > div > [vg="array-obj"] {
  background-color: #f5f3e8;
}


button.json-editor-btn-delete {
  margin-left: 1em;
}


.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid #CCC;
  background: #F3F3F3;
  margin: .2em;
  font-size: .85em;
  color: black;
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: black;
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

#loginErr {
  font-weight: bold;
  color: #880000;
  margin: 1em;
}

.usermgmt {
  right: 2em;
}

#cvePage, #showpass {
    display: none;
}

.sicn {
  padding: 0.1em 0.4em;
}

.tr:hover, .tr.active {
  box-shadow: #e5ebec;
  background-color:var(--hig);
}

.t9 {
  color: gray;
  padding: 8px;
  font-size: small;
}

.formError {
  color: #880000;
  font-size: smaller;
}

.formReadOnly {
    background-color: #eee;
    pointer-events: none;
}

label[for="cvePortalTab"] {
  background-color: var(--sec) !important;
}

/* cveLogin box */

#cpBox {
  padding: 2em 0px;
  display: grid; 
  grid-template-columns: auto; 
  grid-template-rows: min-content min-content auto; 
  gap: 0px 0px; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
}
#cpPrompt { grid-area: 3 / 1 / 4 / 2; }
#cpTitle { grid-area: 2 / 1 / 3 / 2; }
#cpLogo { grid-area: 1 / 1 / 2 / 2; }


#cveLoginForm {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: min-content 1fr; 
  gap: 1em .5em; 
  padding: 1em;
}

#cveLoginForm label {
  text-align: right;
}
#cveLoginForm #cpSubmit {
  grid-area: 5 / 1 / 6 / 3; 
  justify-self: center; 
  align-self: center; 
}


@media (min-width: 600px) {
#cpBox {
  display: grid;
  padding: 3em; 
  grid-template-columns: 1fr 1.5fr; 
  grid-template-rows: max-content min-content; 
  gap: 5px 6px; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
  text-align: center;
}
#cpTitle {
  align-self: start; 
  grid-area: 2 / 1 / 3 / 2; 
  text-align: center;
  padding: 1em;
}
#cpLogo {
  justify-self: stretch; 
  align-self: end; 
  grid-area: 1 / 1 / 2 / 2; 
  padding: 1em;
}
#cpPrompt { 
  justify-self: stretch; 
  border-left: 2px #999999 dotted;
  grid-area: 1 / 2 / 3 / 3;
}
}

#render.render p {
  margin-left: 2em;
  margin-top: .5em;
}

#render.render h4 {
  margin-bottom: 0.3em;
  margin-top: .3em;
}
