:root {
  --cve: #fcf0c0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --cve: #534408;
  }
}

#cveUser .pop {
  right: 2em !important;
}
table#vgListTable td.cvss span {
  background-color: var(--bg2);
  display: inline-block;
  min-width: 2.4em;
  padding: 0.3em 0.5em;
  color: var(--bg1);
  line-height: normal;
  text-align: center;
  border-radius: 0.5em;
  font-weight: 700;
}

#vgListTable .cvss span[title^="8"],
#vgListTable .cvss span[title^="7"]
{
background-color: salmon;
}

#vgListTable .cvss span[title^="6"],
#vgListTable .cvss span[title^="5"],
#vgListTable .cvss span[title^="4"]
{
background-color: orange;
}

#vgListTable .cvss span[title^="3"],
#vgListTable .cvss span[title^="2"],
#vgListTable .cvss span[title^="1."],
#vgListTable .cvss span[title^="0."]
{
background-color: gold;
color: #000;
}

#vgListTable .cvss span[title="0"],
#vgListTable .cvss span[title="0.0"]
{
background-color:rgb(162, 213, 114);
}

#vgListTable .cvss span[title^="10"],
#vgListTable .cvss span[title^="9"]
{
background-color: orangered;
}

div[data-schemaid="cvss4"] .je-indented-panel div div div.row:nth-child(7),
div[data-schemaid="cvss4"] .je-indented-panel div div div.row:nth-child(8),
div[data-schemaid="cvss4"] .je-indented-panel div div div.row:nth-child(9)
{
  background-color: var(--bg1);
  border-radius: 5px;
    padding: 3px;
}
div[data-schemaid="cvss4"] .je-indented-panel div div div.row:last-child
{
  background-color: var(--bg1);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}
.CVSS.NONE {
  background-color: rgb(162, 213, 114);
}
.CVSS.LOW {
  background-color: gold;
}
.CVSS.MEDIUM {
  background-color: orange;
}
.CVSS.HIGH {
  background-color: salmon;
}
.CVSS.CRITICAL {
  color: white;
  background-color: orangered;
}


div[data-schemapath="root.containers.adp"] > div > div > [vg="array-obj"] {
  background-color: var(--bg2);
}


button.json-editor-btn-delete {
  margin-left: 1em;
}


.tags-look .tagify__dropdown__item{
  display: inline-block;
  border-radius: 3px;
  padding: .3em .5em;
  border: 1px solid var(--bor);
  background: var(--bg1);
  margin: .2em;
  font-size: .85em;
  color: var(--txt);
  transition: 0s;
}

.tags-look .tagify__dropdown__item--active{
  color: var(--txt);
}

.tags-look .tagify__dropdown__item:hover{
  background: lightyellow;
  border-color: gold;
}

#loginErr {
  font-weight: bold;
  margin: 1em;
}

.usermgmt {
  right: 2em;
}

#cvePage, #showpass {
    display: none;
}

.sicn {
  padding: 0.1em 0.4em;
}

.tr:hover, .tr.active {
  box-shadow: #e5ebec;
  background-color:var(--hig);
}

.t9 {
  color: var(--acc);
  padding: 8px;
  font-size: small;
  height: 22px;
}

.formError {
  color: #880000;
  font-size: smaller;
}

label[for="cvePortalTab"], #port header, #cpBox {
  background-color: var(--cve) !important;
}

/* cveLogin box */

#cpBox {
  background: linear-gradient(135deg, var(--cve) 0%, var(--sev-med) 100%);
  padding: 2em 0px;
  display: grid; 
  grid-template-columns: auto; 
  grid-template-rows: min-content min-content auto; 
  gap: 0px 0px; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
}
#cpPrompt { grid-area: 3 / 1 / 4 / 2; }
#cpTitle { grid-area: 2 / 1 / 3 / 2; }
#cpLogo { grid-area: 1 / 1 / 2 / 2; }


#cveLoginForm {
  display: grid; 
  grid-auto-rows: 1fr; 
  grid-template-columns: min-content 1fr; 
  gap: 1em .5em; 
  padding: 1em;
}

#cveLoginForm label {
  text-align: right;
}
#cveLoginForm #cpSubmit {
  grid-area: 5 / 1 / 6 / 3; 
  justify-self: center; 
  align-self: center; 
}


@media (min-width: 600px) {
#cpBox {
  display: grid;
  padding: 3em; 
  grid-template-columns: 1fr 1.5fr; 
  grid-template-rows: max-content min-content; 
  gap: 5px 6px; 
  align-content: center; 
  justify-items: center; 
  align-items: center; 
  text-align: center;
}
#cpTitle {
  align-self: start; 
  grid-area: 2 / 1 / 3 / 2; 
  text-align: center;
  padding: 1em;
}
#cpLogo {
  justify-self: stretch; 
  align-self: end; 
  grid-area: 1 / 1 / 2 / 2; 
  padding: 1em;
}
#cpPrompt { 
  justify-self: stretch; 
  border-left: 2px #999999 dotted;
  grid-area: 1 / 2 / 3 / 3;
}
}

#render.render p {
  margin-left: 2em;
  margin-top: .5em;
}

#render.render h4 {
  margin-bottom: 0.3em;
  margin-top: .3em;
}
#render.render table {border-spacing: 0; border: 1px solid #888; border-collapse: collapse;}
#render.render table th { text-align:center;background-color:#88888822;}
#render.render table td { padding:5px;border: 1px solid #888}