//- Copyright (c) 2017 Chandan B N. All rights reserved.

extends ../min

include advisory.pug

block content
    .confidential
        if(ext)
            h5 Draft Security Advisories
        else
            h3 Slides of draft Security Advisories 
            h3 Confidential Information INTERNAL USE ONLY.

    +tabulate(docs)

    each doc, i in docs
        - cve = doc.cve
        .slide
            h1
                a(name=cve.CVE_data_meta.ID)
                = cve.CVE_data_meta.TITLE
                if(cve.CVE_data_meta.ID.match(/^CVE-[0-9-]+$/))
                    = ' (' + cve.CVE_data_meta.ID + ')'
            p
                    b CVSS SCORE:
                    if cve.impact && cve.impact.cvss
                        = cve.impact.cvss.baseScore + " " + cve.impact.cvss.baseSeverity + " (" + cve.impact.cvss.vectorString + ")"
            p
                    b PRODUCT AFFECTED: 
                    =textUtil.getProductAffected(cve)
            p
                    b PROBLEM: 
                    +para(cve.description.description_data[0].value)
            p
                    b WORKAROUND: 
                    if cve.work_around
                        each w in cve.work_around
                            +para(w.value)
            p
                    b SOLUTION: 
                    +para(cve.solution)
