//- Copyright (c) 2017 Chandan B N. All rights reserved.

mixin page(cve)
    h2 MITRE CVE entry preview
    #GeneratedTable
        table(cellpadding=0,cellspacing=0,border=0)
            tbody
                tr
                    th(colspan=2) CVE-ID
                tr
                    td(nowrap="nowrap")
                        h2=cve.CVE_data_meta.ID
                    td.ltgreybackground
                        .larger
                            a Learn more at National Vulnerability Database (NVD)
                        .smaller • Severity Rating • Fix Information • Vulnerable Software Versions • SCAP Mappings
                tr
                    th(colspan=2) Description
                tr
                    td(colspan=2)
                        each d in cve.description.description_data
                            =d.value
                            = ' '
                tr
                    th(colspan=2) References
                tr
                    td.note(colspan=2)
                        b Note: 
                        a References
                        |  are provided for the convenience of the reader to help distinguish between vulnerabilities. The list is not intended to be complete.
                tr
                    td(colspan=2)
                        ul
                            each r in cve.references.reference_data
                                li
                                    a(target="_blank",href=r.url)=r.url
                tr
                    th(colspan=2) Assigning CNA
                tr
                    td(colspan=2)=cve.CVE_data_meta.ASSIGNER
                        |  (MITRE uses CNA name instead of email address)
                tr
                    th(colspan=2) Date Entry Created
                tr
                    td
                        b YYYYMMDD
                    td.ltgreybackground Disclaimer: The entry creation date may reflect when the CVE-ID was allocated or reserved, and does not necessarily indicate when this vulnerability was discovered, shared with the affected vendor, publicly disclosed, or updated in CVE.