//- Copyright (c) 2017 Chandan B N. All rights reserved.

extends ../splash

block content
  form(method='POST', action='/users/login')
    input(type='hidden', name='_csrf', value=csrfToken)
    .pad
      .big.center Login required
    .pad
      label.lbl(style="width:6em;") Username:
      input.bor.txt(name='username', type='text', autocomplete='username')
    .pad
      label.lbl(style="width:6em;") Password:
      input.bor.txt(name='password', type='password', autocomplete='current-password')
    .pad.center 
      input.bor.fbn.sfe(type='submit', value='Login')
