extends ../../views/list.pug
block info
block content    
block facetBanner
    .wlp
        script(src="/js/d3.v3.min.js")
        script(src="/js/chart.js")
        input#chartS.hid(type="radio" name="chsz" checked=true)
        input#chartZ.hid(type="radio" name="chsz")
        div.btg.right.rnd.pad
            label.out.pad.bor.icn.table(for="chartS",style="text-align:right;") Grid
            label.out.pad.bor.icn.box(for="chartZ",style="text-align:right;") Large
        #charts.grd.pad
        script.
            var charts = !{JSON.stringify(docs)};
            plotCharts("charts", charts);